<ul class="breadcrumb">
  <li><%= link_to(t('Basic Info'), edit_user_basic_path, class: "tab") %></li>
  <li><%= link_to(t('Locations'), edit_user_locations_path, class: "tab") %></li>
  <li><%= link_to(t('Manage Articles'), edit_user_articles_path, class: "tab") %></li>
  <li><%= link_to(t('Create new Articles'), new_user_articles_path, class: "tab") %></li>
      
</ul>
