%p
  Hallo #{@request.article.user.nickname},

%p
  Dein Nachbar #{user_marker(@request.sender)} würde gerne eine Deiner Sachen ausleihen:

.shareshore-panel
  = render 'articles/article_view', article: @request.article, mail: true

%p
  Er/Sie schreibt Dir folgende Nachricht:

%p= @request.text

