%p
  Du hast eine Nachricht von #{user_marker(@message.sender)} über Shareship bekommen:

%p
  - if @message.html
    = @message.html.html_safe
  - else
    %pre= @message.text

%p
  Antworte #{@message.sender.nickname}, indem du die Antwort-Funktion deines Emailprogrammes benutzt!
