%p
  Du hast eine Nachricht von #{user_marker(@message.sender)} über Shareship bekommen:

%p= @message.text
  
%p
  Antworte auf diese Nachricht, indem du die Antwort-Funktion deines Emailprogrammes benutzt!
