:plain
  Du hast eine Nachricht von #{@message.sender.nickname} über Shareship bekommen:

  #{@message.text}
  
  Antworte auf diese Nachricht, indem du die Antwort-Funktion deines Emailprogrammes benutzt!

  Erfahre mehr über #{@message.sender.nickname} unter
  #{user_url(@message.sender)}
