<% article_div_id = "article_" + article.id.to_s + "_div" %>

<div class="article" id="<%= article_div_id %>" >
  <div class="article_view">
    <%= render 'article_view', article: article, edit: true, home: false %>
  </div>
  
  <div class="row article_edit">
    <div class="col-xs-12">
      <%= render 'form', article: article %>
    </div>
  </div>
  
</div>
