%p Wenn du neue Sachen hinzufügen willst, kannst du das entweder am Ende der Liste tun, oder du verwendest dazu unsere #{link_to "Vorlagen", user_new_article_from_stockitems_path}.

%p Nicht alles, was du anbietest, wird auch jemand leihen. Du weißt nie, welche Dinge Deine Nachbarn gerade brauchen. Stell daher so viele Deiner Sachen zum Verleih, wie möglich!
