%p Die Vorlagen sollen Dir helfen, dein #{link_to "Inventar", user_articles_path} zusammen zu stellen.

%p Am besten Du gehst diese Liste einmal durch, dann wirst du wahrscheinlich schon ein paar Sachen im Angebot haben.

%p Wahrscheinlich fallen Dir dabei noch viel mehr Sachen, die die einstellen kannst. Mach das, indem du <em>Ohne Vorlage erstellen</em> anklickst.
