%p Die Vorlagen sollen Dir helfen, dein #{link_to "Inventar", articles_path} zusammen zu stellen.

%p Klicke auf eine Kategorie zum Aus-/Einklappen. Klicke auf eine Sache, wenn du sie verleihen möchtest. Trage die Details ein. Wenn du auf 'Fertig' klickst, wird die Sache in dein Inventar aufgenommen.

%p Am besten, Du gehst diese Liste einmal durch, dann wirst du wahrscheinlich schon ein paar Sachen im Angebot haben.

%p Wahrscheinlich fallen Dir dabei noch viel mehr Sachen ein, die du anbieten kannst. Mach das, indem du ganz oben auf der Seite <em>Ohne Vorlage erstellen</em> anklickst.
