%p Die Vorlagen sollen Dir helfen, dein #{link_to "Inventar", articles_path} zusammen zu stellen.

%p Am besten, Du gehst diese Liste einmal durch, dann wirst du wahrscheinlich schon ein paar Sachen im Angebot haben.

%p Wahrscheinlich fallen Dir dabei noch viel mehr Sachen ein, die du anbieten kannst. Mach das, indem du ganz oben auf der Seite <em>Ohne Vorlage erstellen</em> anklickst.
