= house_marker(house)
%br/
%br/
- house.locations.each do |location|
  - local_articles = articles.where("location_id = ?", location.id)
  = user_marker(location.user)
  (#{link_to local_articles.count.to_s + " " + t('Articles'), articles_location_path(location)})
  %br/
  - if (not local_articles.empty?) && local_articles.count < 4 # show only when at least one and at most 3 articles are present
    - local_articles.each do |article|
      = article_marker_modal article
  %br/
  %br/
