- house ||= nil

= house_marker(house)
%br/
%br/
- house.locations.each do |location|
  - local_articles = articles.where("location_id = ?", location.id)
  - if local_articles.count == 0
    - next
  = user_marker(location.user)
  (#{articles_count(local_articles)})
  %br/
  - if (not local_articles.empty?) && local_articles.count < 4 # show only when at least one and at most 3 articles are present
    - local_articles.each do |article|
      = article_marker article
  %br/
  %br/
