<% article_img_id = "article_" + article.id.to_s + "_img" %>

<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        &times;
      </button>
      
      <h4 class="modal-title">
        <%= article.title %>
        <%= link_to article, class: "edit-remove" do %>
          <span class="glyphicon glyphicon-new-window"></span>
        <% end %>
      </h4>
    </div>
      
    <div class="modal-body">
      <%= render 'articles/show', article: article, home: home %>
    </div>
  </div>
</div>
