%p Wenn du das Formular für Deine Anfrage benutzt, werden <em>#{@article.user.nickname}</em> keine Kontakt- informationen von Dir übermittelt. Er/Sie kann dir jedoch über Shareship eine Antwort zukommen lassen.

%p Denke daran deine Emailadresse oder Telefonnummer in Deiner Nachricht anzugeben, wenn du willst dass <em>#{@article.user.nickname}</em> dir auf diesem Weg antwortet.
