<% @title = t("Articles for") + " " + @user.nickname %>
<div class="col-xs-12 col-sm-3 col-sm-push-9">
  <%= tipp_panel title: "Hilfe" do %>
    Ein noch kleinerer Hilfe text.
  <% end %>
</div>

<div class="col-xs-12 col-sm-9 col-sm-pull-3">
  <%= content_tag :h2, @title %>

  <% @articles.each do |article| %>
    <% article_div_id = "article_" + article.id.to_s + "_div" %>

    <div class="article" id="<%= article_div_id %>" >
      <div class="article_view">
        <%= render 'article_view', article: article %>
      </div>        
    </div>
  <% end %>

  <% will_paginate @articles, renderer: BootstrapPagination::Rails %>

</div>

