- @title = t('titles.articles.index_user', user: @user.nickname)

.col-xs-12.col-sm-9
  = content_tag :h2, @title
  - @articles.each do |article|
    = render 'article_view', article: article
  - will_paginate @articles, renderer: BootstrapPagination::Rails

.col-xs-12.col-sm-3
  = tipp_panel do
    = t('.tip_panel_text')
    
