<% @title = @article.title %>
<div class="col-xs-12 col-sm-3 col-sm-push-9">
  <%= tipp_panel title: "Hilfe" do %>
    Ein noch kleinerer Hilfe text.
  <% end %>
</div>

<div class="col-xs-12 col-sm-9 col-sm-pull-3">
  <h3><%= @title %></h3>

  <%= render 'show', article: @article %>

</div>
