%p
  %strong Shareship ist Sachen-Verleih-Netzwerk.

%ul
  %li Verleihe die Sachen, die bei dir zuhause ungenutzt herumstehen, an deine Nachbarn!

  %li Leihe dir Sachen, die du nur einmal brauchst, von deinen Nachbarn aus, anstatt sie zu kaufen!

%p Shareship kostet nichts. Allerdings kannst du für die Sachen, die du verleihst, eine Gegenleistung verlangen. Oder sie auch einfach <em>#{Article.human_attribute_name('gratis')}</em> mit deinen Mitmenschen teilen.

%p= link_to "Wie funktioniert Shareship?", '/pages/tutorial'
