%h3 Fragen und Antworten

%h4#privacy Wie ist meine Privatsphäre geschützt?
%p Guter Punkt! Wir haben uns darüber sehr viele Gedanken gemacht. Denn das Problem liegt auf der Hand: Damit Leute Deine Sachen ausleihen, müssen sie wissen, wo du wohnst. Und zwar ziemlich genau. Damit Shareship also nicht zu einem Adressenverzeichnis wird, und wir schon nicht verhindern können, dass die Leute erfahren, wo du wohnst, muss eben verhindert werden, dass die Leute erfahren, wer du bist!

%p Daher ist Shareship anonym. Du gibst Deinen Namen zwar Shareship bekannt, aber den anderen Benutzern wird er nicht angezeigt. Stattdessen wirst du nur über Deinen Nicknamen identifiziert.

%p Wenn du allerdings etwas verleihen oder ausleihen willst, solltest du Deinem Gegenüber Deinen wahren Namen spätestens jetzt verraten.

%p Deine Kontaktdaten wie Emailadresse oder Telefonnummer behalten wir ebenfalls für uns, solange du sie nicht explizit für jemanden freigibst.

%h4#house_number Muss ich meine exakte Wohnadresse preisgeben?
%p Nein! Wenn du nicht Deine exakte Wohnadresse angeben möchtest (z.B. weil du der einzige Bewohner Deines Hauses bist, und so andere Leute von Deiner Adresse auf Deinen Realnamen schließen können), kannst du einfach das Hausnummern-Feld bei deinen Standorten freilassen.
%p Das hat natürlich den Nachteil, dass andere Leute erst mal nicht genau wissen, wo sie dich finden.
  
%h4 Wie bin ich abgesichert?
%p Beim Ausleihen und Verleihen können bestimmte Dinge schiefgehen. Daher stellt sich die Frage, wie man gegen negative Erfahrungen abgesichtert ist. Erst einmal: Shareship sichert Dich überhaupt nicht ab. Aber Du kannst Dich sehr gut selber absichern. Lies dazu unseren #{link_to t('titles.pages.guideline'), '/pages/guideline'}.
