- @title =  "Leitfaden zum Verleihen und Ausleihen"

%h3= @title

%h4 Worum gehts?
%p In diesem Abschnitt erklären wir Dir, wie Du die Sachen verleihst oder Sachen ausleihst, ohne unnötiges Risiko einzugehen.

%p Wer Sachen an fremde Menschen verleihen will, dem kommen erst einmal Fragen wie: Was ist, wenn etwas kaputt oder verloren geht? Was ist, wenn der andere mich betrügt?

%p Hier werden wir solche Fragen beantworten.

%p Dies ist übrigens eine pragmatische Anleitung, die in juristischer Hinsicht keinerlei Sicherheiten anbieten kann. Shareship kann keine Verantwortung übernehmen, wenn Dir trotz Beachtung dieses Leitfadens ein Schaden ensteht.

%p Es wird ein gewisses Risiko zurückbleiben. Daher: Übernimm Dich nicht! Verleihe nichts, dessen Verlust Du nicht verkraften kannst, und leihe nichts aus, das Du nicht zur Not ersetzen kannst!

%h4 Ausgangspunkt
Auf Shareship kannst Du Leute finden, die Dinge verleihen oder ausleihen wollen. Das geschieht <em>anonym</em>! Du weißt also erst einmal nicht, wer dahinter steckt, denn Du siehst nur einen Nicknamen (warum das so ist, ließt du bei #{link_to "Wie ist meine Privatspäre geschützt?", '/pages/faq#privacy'} in unserer FAQ). Das birgt ein paar Risiken!

%h4 Was kann passieren?
%p Wer verhindern will, dass etwas passiert, muss sich erst mal überlegen <em>was</em> denn eigentlich alles passieren könnte. Hier eine Aufzählung der wichtigsten Fälle:

%ul
  %li Der Ausleiher stellt fest, dass die geliehene Sache defekt oder beschädigt ist.
  %li Der Verleiher stellt fest, dass die zurückgegebene Sache defekt oder beschädigt ist.
  %li Der Ausleiher ist nicht mehr kontaktierbar, weigert sich die Sache zurückzugeben, negiert, etwas geliehen zu haben.
  %li Es herrscht bei der Rückgabe Uneinigkeit darüber, ob die Gegenleistung schon erbracht worden ist, oder wie hoch sie ist.
%h4 Identität
%p Solche Szenarien lassen sich mit wenigen einfachen Vorsichtsmaßnahmen verhindern. Das wichtigste ist:
%p.shareshore-panel
  %em
    Stelle die Identität deines Gegenübers fest!

%p
  Lasse Dir einen Lichtbildausweis zeigen, am besten den Personalausweis, da dieser auch den Wohnsitz enthält. Schreibe die Daten auf oder mache ein Foto mit deinem Smartphone (dies ist erlaubt:
  %a{href: "https://www.datenschutzbeauftragter-info.de/wann-ist-das-kopieren-des-personalausweises-erlaubt/"} https://www.datenschutzbeauftragter-info.de/wann-ist-das-kopieren-des-personalausweises-erlaubt/
  ).

%h4 Zustand der Sache
Auch unter Freunden gibt es Ärger, wenn mal was kaputt geht und nicht klar ist, wer es nun gewesen ist. Haftungsfragen sind mitunter kompliziert. Aber eines haben Sie alle gemeinsam: Wer einen Schaden zu spät bemerkt, bleibt auf ihm sitzen. Daher:

%p.shareshore-panel
  Überprüfe den Zustand der Sache unmittelbar vor dem Verleih und unmittelbar danach, gemeinsam mit dem Gegenüber!

%p Das gilt für beide Seiten, den Verleiher und den Ausleiher.

%p Falls ihr einen schriftlichen Vertrag anfertigt, haltet den Zustand darin fest.

%h4 Wie hoch ist die Gegenleitung
%p Üblicherweise gibt man bei Shareship in der Anzeige nur eine ungefähre Größenordnung der #{link_to 'Gegenleistung', '/pages/rate'} an. Daher solltet ihr darauf achten, vor der Übergabe der Sache, dass ihr Einigkeit darüber erzielt, wie hoch die Gegenleistung konkret sein soll.

%h4 Davor oder danach?
%p Ob Du die vereinbarte Gegenleistung vor oder nach dem Verleih zahlst bzw. erhältst, solltest Du mit deinem Gegenüber besprechen. Häufiger Streitfall: Bei der Rückgabe pocht der eine darauf, bereits bezahlt zu haben, während sich der andere daran nicht erinnern kann!

%h4 Verschleißteile
%p Wenn die Sache Verschleißteile enthält, legt vorher den Wert davon fest, und ob er in der Leihgebühr enthalten ist. Der Verleiher sollte auf die Existenz dieser Teile hinweisen, und der Ausleiher sollte bei jeder Ausleihe danach fragen.

%h4 Miet- oder Leihvertrag
%p
  Wer sich schon länger kennt und sich gegenseitig vertraut oder wer nur mal einen Besen verleiht, mag bereits auf den nächsten Punkt verzichten: der schriftliche Vertrag. Du und Dein Gegenüber sollten schriftlich festlegen, dass der eine etwas vom anderen geliehen hat. Dies kann formlos auf einem A4 Blatt geschehen, das mindestens folgende Daten enthält:
  %ul
    %li Name und Anschrift des Ausleihers
    %li Name und Anschrift des Verleihers
    %li Beschreibung der Sache
    %li Gegenleistung (bei Mietvertrag) und wann sie zu erbringen ist
    %li vereinbartes Rückgabedatum
    %li Unterschriften des Ausleihers und des Verleihers zum Zustandekommen des Vertrags
    %li Unterschriften zur Übergabe
    %li Unterschriften zur Rückgabe
    %li Unterschriften zur Erhalt der Gegenleistung

%p Übrigens: im deutschen Recht ist ein Leihvertrag, wenn die Sache <em>unentgeltlich</em> überlassen wird. Ansonsten ist es ein Mietvertrag.

%p Dies ist nur ein äußerst rudimentäres Muster, das bei Weitem nicht für alle Eventualitäten ausgelegt ist. Dennoch enthält es die grundlegenden Informationen, die in jedem Fall (auch ohne schriftlichen Vertrag) abgeklärt werden müssen.

%p Beachte, dass jeder ein Exemplar des Vertrages bekommt!

%p Wenn Ihr Euch entscheidet keinen schriftlichen Vertrag zu machen: auch ein mündlicher Vertrag ist ein Vertrag und verpflichtet zum Einhalten!

%h4 Wenn etwas kaputt geht

%p Eine wunderbare Lösung stellt es dar, wenn man sich gemeinsam daran macht, die defekte Sache ohne finanziellen Aufwand zu reparieren. Aber das mag nicht in allen Fällen funktionieren.

%p Um nicht über jeden Kratzer in Streit zu geraten: Unterscheide zwischen Beschädigung und Abnutzungsspuren. Wenn Du willst, dass deine Sachen makellos wieder zu Dir zurück kommen sollen, verleihe sie gar nicht erst! Abnutzungsspuren sind kein Grund auf Schadensansprüche, sondern sollten in der von Dir verlangten Leihgebühr enthalten sein.

%p Versucht ein Lösung zu finden, die für beide zu tragen ist (und nicht eine, die beide glücklich macht!). Hier muss jeder bereit sein, Abstriche zu machen. Insbesondere kann der Verleiher nicht unbedingt erwarten, dass der Ausleiher gleich ein neuwertiges Exemplar der Sache anschafft, weil irgendwo etwas abgebrochen ist. Der Verursacher hat nicht den Wert der Sache zu ersetzen, sondern die Wertminderung! Andererseits kann der Verleiher mehr vom Ausleiher erwarten, als ein beigelegtes notdürftiges Ersatzteil.

%p Die Formel, um Streit zu vermeiden, lautet: Kompromiss. Wer auf sein (vermeintliches) Recht pocht, vermeidet keinen Streit, sondern startet ihn sogar auf juristischer Ebene. Gerade, wenn es um kleine Beträge geht, prüfe, ob nicht falscher Stolz Dich davon abhält, den Konflikt beizulegen. Am Ende muss sich jeder überlegen, ob man wegen 20€ einen Streit mit seinem Nachbarn riskiert, oder ob nicht die Harmonie deutlich mehr Wert ist. Und davon profitiert man gleich doppelt: denn derjenige der im Streit nachgibt, hat schließlich danach auch etwas gut beim anderen. Eventuell kann ein harmonisch geschlichteter Schadensfall auch der Beginn einer guten Freundschaft sein!

%h4 Kaution und Pfand
%p Wenn Du glaubst, es würde deine Sicherheit erhöhen, kannst Du eine Kaution oder ein Pfand verlangen. Wir möchten davon abraten, da so etwas in unseren Augen eher ein Druckmittel darstellt, als eine Methode zur Streitschlichtung.

%h4 Risiko minimieren
%p Generell gilt: Es gibt keine absolute Sicherheit. Dinge, die Dir lieb und teuer sind, solltest Du nur dann verleihen, wenn Du Dir über die eventuellen Konsequenzen Gedanken gemacht hast und bereit bist sie zu tragen. Wenn eine Küchenmaschine für 40€ nach dem Verleih nicht mehr funktioniert und Du auf dem Schaden sitzenbleibst, mag das noch zu verkraften sein. Anders sieht es aus, wenn der Wert der Sache 1000€ übersteigt.

%p Wichtiger Punkt: Auch der Ausleiher trägt ein gewisses Risiko. Denn er ist für Schaden an der geliehenen Sache verantwortlich. Wenn Du eine 5000€ Profi-Filmkamera ausleihst, solltest Du Dir klar sein, dass Du den Schaden trägst, wenn sie nachher nicht mehr funktioniert.

%p Vom Verleih teurer Sachen über 1000€, raten wir generell ab. Shareship ist für Alltagsgegenstände gemacht und nicht für Profi-Equipment. Wenn Du dennoch teure Sachen aus- oder verleihst, ist das wichtigste ein solider Mietvertrag!

%h4 Don't blame us
Shareship gibt keine Garantie für die Richtigkeit der hier gemachten juristischen Angaben. Wir übernehmen außerdem keine Verantwortung für Schäden, die trotz Einhaltung der hier beschriebenen Richtlinien entstehen.
