%h3 Die Gegenleistung

%h4 Schokolade, Flasche Wein oder ein Lächeln? Was soll das?

%p
  Wir sind der Meinung, dass jemand, der etwas verleiht auch eine angemessene Gegenleistung erhalten sollte. Deswegen sollte jeder die Möglichkeit haben, bei seinen Sachen anzugeben, was er dafür im Austausch erwartet. Doch hier wirds kompliziert, denn die Höhe der Gegenleistung hängt schließlich davon ab, wie lange es der Nachbar ausleihen will. Außerdem ist es mitunter schwierig und langwierig, für jede Sache einen genauen Wert festzulegen, obwohl man ja noch gar nicht weiß, ob es jemals jemand ausleihen wird. Um Dir das alles etwas zu vereinfachen, haben wir Kategorien festgelegt.

%h4 Was bedeuten die Kategorien?

%p
  Die Kategorien sind:
  %ul
    - ArticlesHelper::RateModel.list.each do |m|
      %li
        %em
          = m.text
        
%p Sie geben <strong>grob</strong> an, was der Verleiher als Gegenleistung für ein <strong>einmaliges Verwenden</strong> über den dafür notwendigen Zeitraum erwartet. Diese Angabe versteht sich als <strong>Verhandlungsbasis</strong>. Auf diese Weise ist ein grober Rahmen abgesteckt, die Details kann man klären, wenn es notwendig wird. Das heißt, <strong>spätestens</strong> wenn der Ausleiher vor der Tür steht, um den vereinbarten Gegenstand abzuholen, solltet ihr darüber reden, wie lange er oder sie die Sache ausleihen möchte und was der Verleiher als Gegenleistung erhält! Ihr solltet klären, ob der Verleiher Bargeld erwartet, oder mit einem Dankeschön-Geschenk einverstanden ist!

%p Die erste Kategorie ("Lächeln") bedeutet, dass Du als Verleiher mit einem freundlichen Lächeln als Dank vollauf zufrieden bist. Das soll den Ausleiher freilich nicht hindern, wenn er sich darüber hinaus erkenntlich zeigen will.

%p Die letzte Kategorie ("siehe Bemerkung") bedeutet, dass Du als Verleiher schon eine konkrete Vorstellung der Gegenleistung hast. Gib diese bitte im Feld zu den Bemerkungen einfach an!

%h4 Die Ausleihdauer
%p Die angegebene Gegenleistung bezieht sich wie gesagt auf den Zeitraum, der zur einmaligen Verwendung notwendig ist. Eine Bohrmaschine leiht man für eine Stunde aus, um ein Bild auf zu hängen, ein Snowboard dagegen einen Tag und um ein Buch zu lesen, braucht man vielleicht eine Woche. Wenn die Sache länger verliehen wird, solltet ihr euch überlegen, ob und inwieweit der Gegenleistung dadurch erhöht wird.
%p Hier gibt es keinen Automatismus: d.h. der Verleiher kann nicht automatisch zwei Flaschen Wein erwarten, wenn der Ausleiher das Snowboard einen Tag länger behalten hat, solange ihr darüber vorher nicht geredet habt!


