%h3 Allgemeine Geschäftsbedingungen

%h4 1 Geltung der Allgemeinen Geschäftsbedingungen

%h5 1.1
%p Shareship, Torgauer Str. 14, 01127 Dresden, vertreten durch Martin Puttke (im Folgenden: "Shareship") stellt die Website zu den nachfolgenden Allgemeinen Geschäftsbedingungen zur Verfügung. Weitere Lieferungen und Leistungen von Shareship erfolgen ausschließlich auf der Grundlage dieser Allgemeinen Geschäftsbedingungen.
%h5 1.2
%p Entgegenstehende Geschäftsbedingungen der Vertragspartner von Shareship (im Folgenden: "Nutzer") sind nur gültig, wenn Shareship schriftlich ihrer Geltung zugestimmt hat.

%h4 2 Leistungsbeschreibung

%h5 2.1
%p Shareship stellt eine Online-Plattform mit einem Marktplatz zur Verfügung, auf der zwischen den Nutzern Verträge über die entgeltliche und unentgeltliche Überlassung (im Folgenden zusammenfassend auch: "Leihe" oder "Leihvertrag") von Waren und Dienstleistungen (im Folgenden: "Sache") abgeschlossen werden können, sofern die Nutzer die sich aus diesen Allgemeinen Geschäftsbedingungen ergebenden Voraussetzungen sowie die gesetzlichen Vorschriften einhalten. Shareship wird selbst nicht Partei der ausschließlich zwischen den Nutzern dieses Marktplatzes geschlossenen Verträgen. Auch die Erfüllung der über die Online-Plattform geschlossenen Verträge erfolgt ausschließlich zwischen den Nutzern.

%h5 2.2
%p Es besteht für den Nutzer kein Anspruch auf Fortbestand oder Erweiterung unentgeltlicher Leistungen und Inhalte der Seite, sondern lediglich Anspruch auf Nutzung der jeweils angebotenen Leistungen.
%h5 2.3
%p Shareship hat das Recht, Angebote und Inhalte von Nutzern technisch so zu bearbeiten, aufzubereiten und anzupassen, dass diese auch auf mobilen Endgeräten oder Softwareapplikationen von Dritten dargestellt werden können. Die Nutzer sind selbst dafür verantwortlich, vor Abschluss eines Vertrages den vollständigen Inhalt eines Angebots einzusehen, wenn der Vertragsabschluss über ein mobiles Endgerät oder die Softwareapplikation eines Drittanbieters erfolgt.
%h5 2.4
%p Auf der Online-Plattform stellt Shareship Nutzern die Möglichkeit zur Verfügung, s.g. Profile mit Daten anzulegen, die auf der Online-Plattform für Nutzer und Dritte sichtbar sein können. Des weiteren stellt Shareship die Möglichkeit zur Verfügung, dass die Nutzer untereinander oder mit Dritten kommunizieren.
%h5 2.5
%p Shareship beschränkt seine Leistungen zeitweise, wenn dies wegen Erreichen der Kapazitätsgrenzen oder der Gefahr für die Sicherheit oder Integrität der Server oder zur Durchführung technischer Maßnahmen erforderlich ist. Die berechtigten Interessen der Nutzer wird Shareship berücksichtigen, z.B. bei geplanten Wartungsarbeiten durch eine Ankündigung.

%h4 3 Registrierung, Zustandekommen des Vertrages und Account

%h5 3.1
%p Die Nutzung der Suchfunktion ist ohne Registrierung möglich.
%h5 3.2
%p Die Nutzung der von Shareship angebotenen Leistungen setzt eine Registrierung des Nutzers bei Shareship und die Einrichtung eines Accounts voraus. Die Registrierung und die Einrichtung des Accounts sind kostenfrei. Der Nutzer ist verpflichtet, die bei der Registrierung erhobenen Daten wahrheitsgemäß und vollständig anzugeben. Bei einer Änderung der Daten nach erfolgter Registrierung hat der Nutzer seine Angaben in seinem Account unverzüglich zu aktualisieren oder soweit dies nicht möglich ist, Shareship unverzüglich die Änderungen mitzuteilen.
%h5 3.3
%p Bei der Registrierung legt der Nutzer im Rahmen der vorhandenen Möglichkeiten einen Nutzernamen und ein Passwort fest (im Folgenden: "Zugangsdaten"). Unzulässig sind Nutzernamen, deren Verwendung Rechte Dritter, insbesondere Namens- oder Kennzeichenrechte verletzt, oder die sonst rechtswidrig sind oder gegen die guten Sitten verstoßen. Der Nutzer hat die Zugangsdaten geheim zu halten und vor dem Zugriff durch unbefugte Dritte geschützt aufzubewahren. Sind dem Nutzer die Zugangsdaten abhanden gekommen oder stellt er fest oder hegt er den Verdacht, dass seine Zugangsdaten von einem Dritten genutzt werden, hat er dies Shareship umgehend mitzuteilen.
%h5 3.4
%p Shareship behält sich vor, die Registrierung des Nutzers ohne Angabe von Gründen abzulehnen.
%h5 3.5
%p Akzeptiert Shareship die Registrierung, erhält der Nutzer eine Bestätigungs-e-Mail mit einem Bestätigungslink. Um die Registrierung abzuschließen, muss der Nutzer die Bestätigungs-e-Mail entsprechend den darin enthaltenen Anweisungen beantworten. Mit Beantwortung der Bestätigungs-e-Mail kommt der Vertrag zwischen Shareship und dem Nutzer zustande.
%h5 3.6
%p Widerrufsbelehrung

%p
  Widerrufsrecht
  %br
  Als Verbraucher (§ 13 BGB) können Sie Ihre Vertragserklärung innerhalb von zwei Wochen ohne Angabe von Gründen in Textform (z. B. Brief, Fax, E-Mail) widerrufen. Die Frist beginnt nach Erhalt dieser Belehrung in Textform jedoch nicht vor Vertragsschluss und auch nicht vor Erfüllung unserer Informationspflichten gemäß § 312c Abs. 2 BGB in Verbindung mit § 1 Abs. 1, 2 und 4 BGB-InfoV sowie unserer Pflichten gemäß § 312e Abs. 1 Satz 1 BGB in Verbindung mit § 3 BGB-InfoV. Zur Wahrung der Widerrufsfrist genügt die rechtzeitige Absendung des Widerrufs. Der Widerruf ist zu richten an:
  %br
  %br
  Shareship - Torgauer Str. 14 - 01127 Dresden - E-Mail: mail [[@]] shareship.de
  %br
  %br
  Widerrufsfolgen
  %br
  Im Falle eines wirksamen Widerrufs sind die beiderseits empfangenen Leistungen zurückzugewähren und ggf. gezogene Nutzungen (z. B. Zinsen) herauszugeben. Können Sie uns die empfangene Leistung ganz oder teilweise nicht oder nur in verschlechtertem Zustand zurückgewähren, müssen Sie uns insoweit ggf. Wertersatz leisten. Verpflichtungen zur Erstattung von Zahlungen müssen innerhalb von 30 Tagen erfüllt werden. Die Frist beginnt für Sie mit der Absendung Ihrer Widerrufserklärung für uns mit deren Empfang. 
  %br
  %br
  Besondere Hinweise
  %br
  Bei einer Dienstleistung erlischt Ihr Widerrufsrecht vorzeitig, wenn Ihr Vertragspartner mit der Ausführung der Dienstleistung mit Ihrer ausdrücklichen Zustimmung vor Ende der Widerrufsfrist begonnen hat oder Sie diese selbst veranlasst haben.
  %br
  %br
  Ende der Widerrufsbelehrung
%h5 3.7
%p Es ist nicht erlaubt, dass ein Nutzer mehrere Accounts einrichtet. Weiterhin ist ein Account nicht übertragbar.

%h4 4 Störung der Online-Plattform

%h5 4.1
%p Störende Eingriffe in die Online-Plattform sind verboten. Es ist insbesondere untersagt, solche Maßnahmen zu ergreifen, die zu einer übermäßigen Belastung der Online-Plattform (z.B. massenhaftes Versenden von Benachrichtigungen oder Nachrichten [SPAM]) oder zu einer unzumutbaren Belästigung anderer Nutzer führen können.
%h5 4.2
%p Elektronische Angriffe jedweder Art auf die Online-Plattform (einschließlich sämtlicher zum Betrieb der Online-Plattform eingesetzter Hard- und Software) oder auf einzelne Nutzer sind verboten. Als solche elektronische Angriffe gelten unter anderem die im Folgenden aufgelisteten Maßnahmen:
%ul
  %li Hacking-Versuche, d.h. Versuche, die Sicherheitsmechanismen der Online-Plattform zu überwinden, zu umgehen oder auf sonstige Art außer Kraft zu setzen,
  %li das Anwenden und/oder Verbreiten von Viren, Würmern, Trojanern,
  %li Brute-Force-Attacken,
  %li Zusendung unverlangter Werbenachrichten (SPAM),
  %li sonstige Maßnahmen oder Verfahren, die störend in die Online-Plattform einschließlich sämtlicher zum Betrieb der Online-Plattform eingesetzter Hard- und Software eingreifen und/oder Shareship oder Nutzer schädigen können.
  
%h4 5 Sanktionen und sonstige Folgen bei Verstößen durch Nutzer

%h5 5.1
%p Die Einhaltung dieser AGB ist für die Funktionsfähigkeit der Online-Plattform von erheblicher Bedeutung. Daher wird Shareship Sanktionen gegen einen Nutzer verhängen, wenn und soweit sich seitens Shareship konkrete Anhaltspunkte dafür ergeben, dass ein Nutzer gegen gesetzliche Vorschriften, Rechte Dritter und/oder die guten Sitten verstößt. Zudem ist Shareship dazu berechtigt, inkriminierte Inhalte aus der Online-Plattform ohne Vorankündigung zu entfernen.
%h5 5.2
%p Bei der Wahl der Sanktion wird Shareship die berechtigten Interessen des betroffenen Nutzers berücksichtigen. Die folgenden Maßnahmen und Sanktionen kommen für Shareship in Betracht:
%ul
  %li teilweises und vollständiges Löschen von Inhalten eines Nutzers,
  %li Verwarnung eines Nutzers,
  %li Ein-/Beschränkung bei der Nutzung von Anwendungen der Online-Plattform,
  %li temporäre Sperrung eines Nutzers,
  %li endgültige Sperrung eines Nutzers.

%h4 6 Bilddateien

%h5 6.1
%p Jeder Nutzer hat die Möglichkeit, auf die Online-Plattform Bilddateien hochzuladen, um diese dem eigenen Profil hinzuzufügen. Darüber hinaus steht dem Nutzer die Möglichkeit offen, bei seinem Angebot Bilder anzulegen, um diese für sich selbst zu verwalten, Kontakten oder sämtlichen Nutzern der Online-Plattform zugänglich zu machen.
%h5 6.2
%p Vor dem Upload einer Bilddatei hat der Nutzer sicherzustellen, dass ihm an dem Foto bzw. der Datei die notwendigen Nutzungsrechte zustehen und das öffentliche Zugänglichmachen der Bilddatei nicht gegen gesetzliche Vorschriften, die guten Sitten und/oder gegen Rechte Dritter verstößt.
%h5 6.3
%p Es ist verboten, über die Online-Plattform Bilddateien, die gegen gesetzliche Vorschriften verstoßen, insbesondere mit Gewaltdarstellungen hochzuladen und/oder öffentlich zugänglich zu machen; zudem dürfen die Bilddateien keine sexuellen, diskriminierenden, beleidigenden, rassistischen, verleumderischen oder sonst rechtswidrigen Inhalte oder Darstellungen beinhalten. Ebenso ist untersagt, solche Bilddateien hochzuladen, auf denen Firmen-, Marken- oder sonstige Geschäftszeichen bzw. andere geschützte Zeichen dargestellt werden, soweit der Nutzer nicht über die Rechte zur Nutzung dieser Inhalte verfügt.
%h5 6.4
%p Sollen Fotoaufnahmen hochgeladen werden, auf denen Dritte zu erkennen sind, darf der Upload nur erfolgen, soweit die Zustimmung des bzw. der Dritten hierzu vorliegt.
%h5 6.5
%p Shareship behält sich vor, Bilddateien und/oder Verlinkungen auf andere Nutzer auch ohne Vorankündigung zu entfernen, wenn und soweit sich seitens Shareship konkrete Anhaltspunkte dafür ergeben, dass durch eine öffentliche Zugänglichmachung über die Online-Plattform gegen gesetzliche Vorschriften, diese AGB, die guten Sitten und/oder gegen Rechte Dritte verstoßen wird.

%h4 7 Nutzung von Inhalten

%h5 7.1
%p Die Nutzung der Online-Plattform und der auf ihr vorhandenen Daten darf nur zu dem in der Leistungsbeschreibung unter Ziffer 2.1 beschriebenen Zweck, also der Anbahnung von Leih- und Mietverträgen über die angebotenen Sachen über die Plattform erfolgen. Nutzer dürfen insbesondere die Kontaktdaten anderer Nutzer, die über die Online-Plattform zugänglich sind, zu keinen anderen Zwecken nutzen.
%h5 7.2
%p Somit ist es insbesondere gewerblichen Anbietern untersagt, Nutzern, die nicht mit ihnen verbunden sind, unter Ausnutzung von Daten auf der Plattform unaufgefordert Angebote oder jede Art von Werbung über die Plattform oder außerhalb von ihr zuzusenden. Nicht gestattet ist entsprechend auch die Verwendung der Daten eines Nutzers zum Zwecke der Personaldatenerhebung durch Arbeitgeber, Ausbildungsbetriebe, Personal- bzw. Arbeitsvermittler, Universitäten, Fachhochschulen oder durch vergleichbare öffentliche oder private Bildungseinrichtungen. Die Möglichkeit, Sachen oder Leistungen auf der Plattform einzustellen bleibt hiervon unberührt.
%h5 7.3
%p Jede andere Nutzung der Daten, insbesondere die geschäftsmäßige, gewerbliche oder sonstige kommerzielle Nutzung für Zwecke außerhalb der Leistungsbeschreibung nach Ziffer 2.1, ist untersagt. Untersagt ist insoweit auch der Einsatz von Computerprogrammen zum automatischen Auslesen von Daten, wie z.B. Crawlern (alias Spider oder Robot, kurz: Bot).

%h4 8 Angebote von Nutzern

%h5 8.1
%p Der Nutzer darf nur Sachen einstellen und anbieten, deren alleiniger Eigentümer oder zu deren Angebot er berechtigt ist. Der Nutzer hat die Eigenschaften der angebotenen Sache genau, vollständig und wahrheitsgemäß zu beschreiben. Dabei hat er alle wesentlichen Eigenschaften zu nennen und ggf. Fehler anzugeben, die den Wert oder die Tauglichkeit der Sache nicht nur unwesentlich mindern.
%h5 8.2
%p Neben der auf der Online-Plattform angebotenen Sache dürfen weitere Sachen nicht beworben werden. Außerhalb der persönlichen Angaben im eigenen Nutzerprofil ist das Setzen von Hyperlinks auf Angebote außerhalb der Online-Plattform unzulässig.
%h5 8.3
%p Der Nutzer hat die Sache einer passenden Kategorie zuzuordnen. Shareship behält sich vor, die Kategorienzuordnung eines Angebots anzupassen, um eine einheitliche und sinnvolle Kategorisierung aller Angebote auf der Plattform zu erzielen, soweit dies nicht berechtigte Interessen des Nutzers beeinträchtigt.
%h5 8.4
%p Nutzern ist es verboten, Sachen anzubieten, deren Angebot oder Vermietung gegen geltendes Recht verstößt. Verboten ist insbesondere ein Angebot von Sachen,
%ul
  %li deren Verleih oder Vermietung strafbar oder ordnungswidrig ist,
  %li soweit der Verleih oder die Vermietung, Zugänglichmachung oder Bewerbung Schutzrechte Dritter (insbesondere Urheber- und Leistungsschutzrechte, Kennzeichenrechte, Patentrechte, Gebrauchs oder Geschmacksmusterrechte) oder sonstige Rechte Dritter verletzt,
  %li die mit Kennzeichen verfassungswidriger Organisationen versehen sind,
  %li die einen pornographischen oder sonst jugendgefährdenden Charakter haben,
  %li die Waffen im Sinne des Waffengesetzes sind,
  %li die unmittelbar gesundheitsgefährdend sind,
  %li deren Verleihung oder Vermietung gegen die guten Sitten verstoßen würde.
%h5 8.5
%p Urheberrechtlich geschützte Sachen (z.B. Musikwerke, Filme, Fotografien, Sprachwerke, Landkarten, Gemälde, Grafiken, Computerprogramme, Datenbanken) dürfen vom Nutzer nur insoweit angeboten werden, wie er die entsprechenden Nutzungsrechte hat.
%h5 8.6
%p In diesem Zusammenhang wird ausdrücklich darauf hingewiesen, dass die entgeltliche Vermietung von urheberrechtlich geschützten Produkten eine Verletzung eines fremden Urheberrechts darstellt, wenn sie unmittelbar oder mittelbar Erwerbszwecken dient und der Anbieter nicht Inhaber des Vermietrechts ist. Erwerbszwecken dient die Vermietung dann, wenn sie mit Gewinnerzielungsabsicht erfolgt.
%h5 8.7
%p Nutzer sind verpflichtet, bei ihren Angeboten die geltenden Gesetze zu befolgen. Jeder Nutzer hat sicherzustellen, dass sein Angebot oder die Inhalte seines Angebotes rechtmäßig sind und keine Rechte Dritter verletzen. Insofern ist er auch selbst dafür verantwortlich, gesetzlich vorgeschriebene Informationen zu geben.
%h5 8.8
%p Soweit eine Sache dem Nutzer nicht mehr zur Verfügung steht, darf die Sache nicht mehr angeboten werden. Der Nutzer ist daher verpflichtet, die Verfügbarkeit der Sache jeweils aktuell anzugeben.
%h5 8.9
%p Das Angebot von Tieren, insbesondere Wirbeltieren, unterliegt besonderen gesetzlichen Vorschriften zum Schutz der Tiere. Die Beachtung dieser Vorschriften obliegt auch dem Nutzer. Sofern diese Vorschriften eine behördliche Erlaubnis voraussetzen, ist das Angebot nur zulässig, wenn der Nutzer über die entsprechende Erlaubnis verfügt.
%h5 8.10
%p Shareship behält sich vor, Angebote, die gegen diese Allgemeinen Geschäftsbedingungen oder gegen geltendes Recht verstoßen, ohne vorherige Ankündigung zu entfernen.

%h4 9 Anbahnung von Leih- und Mietkontakten

%h5 9.1
%p Die Angaben innerhalb des Internet-Angebotes von Shareship sind unverbindlich und stellen noch kein Angebot zum Abschluss eines Vertrages dar.
%h5 9.2
%p Bietet ein Nutzer eine Sache über die Online-Plattform an, ist das eine Aufforderung an andere Nutzer zur Abgabe ebenfalls unverbindlicher Leih- oder Mietanfragen über diese Sache. Durch das Absenden des ausgefüllten Anfrage-Formulars bekundet der Entleiher/Mieter unverbindlich sein Interesse am Abschluss eines Leih- oder Mietvertrages zu den in der Anfrage aufgeführten Konditionen und unter Einbeziehung der Angaben des Verleihers/Vermieters auf der Angebotsseite. Shareship ist vom Verleiher/Vermieter bevollmächtigt, die Anfrage an ihn weiterzuleiten. Auch die Annahme der unverbindlichen Anfrage über die Online-Plattform durch den Verleiher/Vermieter ist unverbindlich. Die Parteien sind jedoch zur gegenseitigen Rücksichtnahme verpflichtet. Nach Annahme der unverbindlichen Anfrage werden die Kontaktdaten der Parteien ausgetauscht, damit der Vertragsschluss zwischen ihnen vorgenommen werden kann.
%h5 9.3
%p Die Erbringung der vertraglichen Leistungen und die Abwicklung des geschlossenen Vertrages ist allein Sache der Vertragsparteien. Shareship übernimmt insbesondere nicht die Einziehung der Miete für den Vermieter.

%h4 10 Gebühren und Entgelt

%h5 10.1
%p Die Nutzung der Online-Plattform ist für den Entleiher, Verleiher, Mieter und Vermieter vollständig kostenfrei.
%h5 10.2
%p Shareship kann das Preissystem ändern. Die Änderungen werden den Nutzern rechtzeitig vor dem Inkrafttreten auf der Shareship-Webseite und per e-Mail mitgeteilt.

%h4 11 Bewertungssystem

%h5 11.1
%p Shareship betreibt ein nach Nutzern geordnetes Bewertungssystem, in welchem die Nutzer die Möglichkeit haben, den jeweiligen Vertragspartner hinsichtlich seiner Vertragserfüllung positiv oder negativ zu bewerten.
%h5 11.2
%p Die Nutzer sind zur Abgabe von Bewertungen nicht verpflichtet. Die Nutzer sind verpflichtet, Angaben im Rahmen der Bewertung ausschließlich wahrheitsgemäß zu machen.
%h5 11.3
%p Ein Nutzer ist nicht berechtigt, mittelbar oder unmittelbar die Bewertung der eigenen Person zu beeinflussen. Manipulationen des Rankings und Eigenbewertungen berechtigen Shareship zum Ausschluss des Nutzers unter fristloser Kündigung des Vertrages.
%h5 11.4
%p Shareship prüft die Bewertungen nicht auf ihre Berechtigung. Shareship übernimmt keine Haftung für Richtigkeit und Auswirkungen dieser Bewertungen, soweit ihr nicht Vorsatz oder grobe Fahrlässigkeit zur Last fällt. Bekannt oder erkennbar unrichtige Bewertungen werden gelöscht.
%h5 11.5
%p Ein Nutzer ist nicht berechtigt, unter Hinweis auf das Bewertungssystem ein bestimmtes, außerhalb der im Rahmen der Online-Plattform eingegangenen vertraglichen Pflichten liegendes Verhalten zu fordern. Ein Verstoß hiergegen berechtigt den Veranstalter zur Kündigung des Teilnahmevertrags.
%h5 11.6
%p Die Daten des Bewertungssystems werden mit der Abmeldung des Nutzers dem Zugriff durch die übrigen Nutzer entzogen.

%h4 12 Beendigung und Kündigung

%h5 12.1
%p Der Nutzer kann diese Nutzungsvereinbarung jederzeit kündigen. Zur Kündigung genügt eine entsprechende Erklärung in Textform an Shareship oder das Auslösen der Kündigung bei "Dein Profil".
%h5 12.2
%p Shareship kann den Vertrag jederzeit unter Beachtung einer Kündigungsfrist von zwei Wochen zum Ende eines Monats kündigen.
%h5 12.3
%p Mit der Beendigung des Vertrages werden das Account des Nutzers und alle personenbezogenen Daten des Nutzers dauerhaft gelöscht, mit Ausnahme der für die Abrechnung erforderlichen Daten. Diejenigen Inhalte, die der Nutzer vor der Kündigung über die Online-Plattform öffentlich zugänglich gemacht hat (z.B. durch Bewertungen oder Nutzungsbilder oder innerhalb einer Gruppe), können nach der erfolgten Deaktivierung weiterhin abrufbar bleiben – dies jedoch ohne Angabe des Namens und mit dem Hinweis, dass der Beitrag von einem inzwischen gelöschten Nutzer stammt.
%h5 12.4
%p Shareship ist zur sofortigen Kündigung und Sperrung des Account berechtigt,
%ul
  %li wenn bei der Anmeldung falsche Angaben gemacht wurden,
  %li bei Verlust oder bei Verdacht einer missbräuchlichen Nutzung der Zugangsdaten durch einen Dritten,
  %li wenn der Nutzer die Leistungen von Shareship oder die Online-Plattform missbraucht,
  %li wenn der Nutzer im Zusammenhang mit der Nutzung der Online-Plattform die Rechte Dritter verletzt,
  %li wenn der Nutzer wiederholt negative Bewertungen erhalten hat und dadurch die Gemeinschaft der Shareship Nutzer sowie deren Vertrauen in diese Online-Plattform gefährdet und daher die Sperrung zur Wahrung der Interessen oder zum Schutz der übrigen Nutzer geboten erscheint,
  %li wenn der Nutzer gegen die Allgemeinen Geschäftsbedingungen von Shareship verstoßen hat,
  %li oder wenn ein sonstiger wichtiger Grund vorliegt.
%h5 12.5
%p Im Falle einer Sperrung des Account ist es dem betroffenen Nutzer bis zu einer ausdrücklichen vorherigen Zustimmung von Shareship untersagt, sich erneut bei Shareship registrieren zu lassen und ein neues Account zu eröffnen.
%h5 12.6
%p Ein einmal gesperrtes Account kann nicht mehr betrieben werden und der gesperrte Nutzer hat auch keinen Anspruch darauf.

%h4 13 Haftung

%h5 13.1
%p Gegenüber Unternehmern haftet Shareship für Schäden, außer im Fall der Verletzung wesentlicher Vertragspflichten, nur, wenn und soweit Shareship, ihren gesetzlichen Vertretern, leitenden Angestellten oder sonstigen Erfüllungsgehilfen Vorsatz oder grobe Fahrlässigkeit zur Last fällt. Im Fall der Verletzung wesentlicher Vertragspflichten haftet Shareship für jedes schuldhafte Verhalten ihrer gesetzlichen Vertreter, leitenden Angestellten oder sonstigen Erfüllungsgehilfen.
%h5 13.2
%p Gegenüber Verbrauchern haftet Shareship nur für Vorsatz und grobe Fahrlässigkeit. Im Falle der Verletzung wesentlicher Vertragspflichten, des Schuldnerverzugs oder der von Shareship zu vertretenden Unmöglichkeit der Leistungserbringung haftet Shareship jedoch für jedes schuldhafte Verhalten ihrer Mitarbeiter und Erfüllungsgehilfen.
%h5 13.3
%p Außer bei Vorsatz oder grober Fahrlässigkeit gesetzlicher Vertreter, leitender Angestellter oder sonstiger Erfüllungsgehilfen von Shareship, ist die Haftung der Höhe nach auf die bei Vertragsschluss typischerweise vorhersehbaren Schäden begrenzt.
%h5 13.4
%p Eine Haftung für den Ersatz mittelbarer Schäden, insbesondere für entgangenen Gewinn, besteht nur bei Vorsatz oder grober Fahrlässigkeit gesetzlicher Vertreter, leitender Angestellte oder sonstiger Erfüllungsgehilfen von Shareship.
%h5 13.5
%p Die vorgenannten Haftungsausschlüsse und Beschränkungen gegenüber Unternehmern oder Verbrauchern gelten nicht im Fall der Übernahme ausdrücklicher Garantien durch Shareship und für Schäden aus der Verletzung des Lebens, des Körpers oder der Gesundheit sowie im Fall zwingender gesetzlicher Regelungen.
%h5 13.6
%p Im Falle eines Datenverlustes besteht die Haftung von Shareship nur insoweit, als der Schaden bei ordnungsgemäßer Datensicherung durch den Nutzer eingetreten wäre, also nur für den Aufwand, der nach der hypothetisch ordnungsgemäßen Datensicherung durch den Nutzer entstanden wäre.

%h4 14 Freistellung

%h5 14.1
%p Der Nutzer stellt Shareship von allen Ansprüchen Dritter frei, die diese wegen eingestellter Angebote oder Inhalte, einschließlich der vom Nutzer abgegebenen Bewertungen oder wegen der unzulässigen Anbietung, Verleihung oder Vermietung eines rechtlich geschützten Gegenstands gegenüber Shareship geltend machen. Die Freistellung umfasst insbesondere die Kosten einer notwendigen Rechtsverteidigung.
%h5 14.2
%p Der Nutzer ist verpflichtet, im Falle einer Inanspruchnahme von Shareship unverzüglich, wahrheitsgemäß und vollständig sämtliche Informationen zur Verfügung zu stellen, die Shareship für die Prüfung der Ansprüche und die Verteidigung benötigt.

%h4 15 Gerichtsstand/Anwendbares Recht

%h5 15.1
%p Ist der Nutzer Kaufmann, juristische Person des öffentlichen Rechts oder öffentlich rechtliches Sondervermögen, ist ausschließlicher Gerichtsstand für alle sich aus dem Vertragsverhältnis ergebenden Ansprüche Berlin. Auf den Vertrag findet ausschließlich das Recht der Bundesrepublik Deutschland Anwendung. Die Anwendung von UN-Kaufrecht ist ausgeschlossen.
%h5 15.2
%p Ist der Nutzer ein Verbraucher, unterliegen diese AGB und der Nutzungsvertrag dem Recht der Bundesrepublik Deutschland. Dies gilt, soweit dem keine zwingenden gesetzlichen Regelungen (insbesondere Vorschriften zum Verbraucherschutz) entgegenstehen.

%h4 16 Änderungen der Allgemeinen Geschäftsbedingungen

%h5 16.1
%p Shareship behält sich vor, Bestimmungen dieser AGB jederzeit und ohne Nennung von Gründen unter Beachtung der im Folgenden unter Ziffer 16.2 bis einschließlich 16.4 dargestellten Voraussetzungen zu ändern, soweit die Änderung der Verbesserung des Angebots, der Funktionalität, der Sicherheit der Plattform oder des Verkehrs auf ihr dient oder eine Änderung der Preisstruktur nach Ziffer 10 beinhaltet und dies jeweils dem Nutzer zumutbar ist.
%h5 16.2
%p Die Änderung wird dem Nutzer per e-Mail spätestens zwei Wochen vor ihrem Inkrafttreten per e-Mail mitgeteilt. Widerspricht der Nutzer der Geltung der neuen AGB nicht innerhalb von zwei Wochen nach Empfang der e-Mail, gelten die neuen AGB als angenommen. Shareship verpflichtet sich, den Nutzer in der e-Mail, die die geänderten Bestimmungen enthält, gesondert auf die Bedeutung der Zweiwochenfrist hinzuweisen.
%h5 16.3
%p Eine Änderung der Leistungsbeschreibung gemäß Ziffer 2 nach der unter Ziffer 16.2 beschriebenen Vorgehensweise kann nur erfolgen, soweit dies der Erweiterung des Angebots von Shareship dient und dem Nutzer zumutbar ist. Sonstige Änderungen der Leistungsbeschreibung wird Shareship dem Nutzer mitteilen und diesem die Fortsetzung des Nutzungsverhältnisses zu den geänderten Bedingungen anbieten. Das dem Nutzer jederzeit zustehende Kündigungsrecht bleibt unberührt.
%h5 16.4
%p Widerspricht der Nutzer der Geltung der neuen AGB innerhalb der in vorstehender Ziffer angeführten Frist, bleibt Shareship befugt, das Vertragsverhältnis mit dem Nutzer ordentlich mit einer Frist von vierzehn Tagen zu kündigen.

%h4 17 Salvatorische Klausel

%h5 17.1
%p Sofern eine Bestimmung dieser AGB unwirksam ist, bleiben die übrigen Bestimmungen davon unberührt. Die unwirksame Bestimmung gilt als durch eine solche ersetzt, die dem Sinn und Zweck der unwirksamen Bestimmung in rechtswirksamer Weise wirtschaftlich am nächsten kommt. Gleiches gilt für eventuelle Regelungslücken.

%h4 Noch Fragen?

Fragen zu den Allgemeinen Geschäftsbedingungen richten Sie bitte per E-Mail an mail [[@]] shareship.de.
