- @title = t('titles.pages.who_is_it')

%h3= @title

%p
  Martin Puttke ist studierter Mathematiker. Nachdem Studium habe ich mein Geld als Teilzeit-Software-Entwickler für ein Elektrotechnik-Ingenieurbüro verdient. Den Rest meiner Zeit habe ich mit verschiedenen zirkusnahen Bewegungskünsten verbracht.
%p
  Ich lebe und arbeite in Dresden, einer Stadt, die für mich immer einen Gegenentwurf zur Hektik anderer Großstädte darstellte, und trotzdem, oder gerade deshalb, ein Zentrum für moderne Lebensentwürfe und alternative Projekte geworden ist. Aber auch Dresden ist von den Problemen moderner Großstädte nicht verschont, wenn auch nicht so schwer getroffen: steigende Miete führen zu kleinen Wohnungen mit wenig Stauraum für Sachen. Schnell wechselnde Wohnsitze ziehen Anonymität in der eigenen Nachbarschaft hinter sich her. All dem versuchen die Menschen mit gemeinschaftlichen Kulturprojekten, Urban-Gardening, Hinterhofflohmärkten und jede Menge kreativer Ideen entgegen zu wirken. In dieser Umgebung ist auch der Gedanke zu Shareship entstanden!
