- @title = t('titles.pages.who_is_it')

%h3= @title

%h4 Der Ursprung
%p
  Ich lebe und arbeite in Dresden, einer Stadt, die für mich immer einen Gegenentwurf zur Hektik anderer Großstädte darstellte, und trotzdem, oder gerade deshalb, ein Zentrum für moderne Lebensentwürfe und alternative Projekte geworden ist. Aber auch Dresden ist von den Problemen moderner Großstädte nicht verschont, wenn auch nicht so schwer getroffen: steigende Miete führen zu kleinen Wohnungen mit wenig Stauraum für Sachen. Schnell wechselnde Wohnsitze ziehen Anonymität in der eigenen Nachbarschaft hinter sich her. All dem versuchen die Menschen mit gemeinschaftlichen Kulturprojekten, Urban-Gardening, Hinterhofflohmärkten und jede Menge kreativer Ideen entgegen zu wirken. In dieser Umgebung ist auch der Gedanke zu Shareship entstanden!

%h4 Das Ziel
%p
  Hinter Shareship stehen ökologische, konsumkritische, humanistische und freiheitliche Grundgedanken. Demzufolge wird Shareship auf Werbung weitgehend (wenn nicht gar komplett) verzichten. Wir werden eure Privatsphäre respektieren. Wir stecken nicht unsere Nase in das, Was ihr untereinander verabredet.

%p Shareship will euch mit Leuten aus eurer Nachbarschaft zu vernetzen. Ihr sollt die Dinge, die ihr habt, untereinander austauschen und verleihen. Ihr sollt euch kennenlernen und euch respektieren lernen, auch wenn ihr unterschiedlich seid. Ihr sollt darauf verzichten Billigprodukte zu kaufen, wenn ihr stattdessen euren Nachbarn fragen könnt. Wenn es keinen Nachbarn gibt, der das hat, was ihr braucht, sollt ihr lieber Qualitätsprodukte ohne Kinderarbeit und aus ökologisch verantwortungsvoller Produktion kaufen und sie dann an eure Nachbarn verleihen! Das ist unser Ziel!

%h4 Unterstützung
%p
  Damit Shareship mehr als nur eine Eintagsfliege wird, muss es finanziert werden. Wie das genau geschehen soll, wird die Zeit zeigen. Aufgrund unserer konsumkritischen Grundhaltung steht uns der werbefinanzierte Weg nicht zur Verfügung. Daher werden, insbesondere in der Startphase, Spenden ein wichtige Rolle spielen.

%p
  Wenn ihr uns unterstützen wollt, habt ihr mehrere Möglichkeiten:
  %ul
    %li Erzählt euren Nachbarn von Shareship!
    %li Gebt uns Feedback, was wir verbessern können!
    %li Spendet!
    %li Wenn ihr mitmachen wollt, schreibt uns!

%p Spenden könnt ihr momentan auf das folgende Konto: Martin Puttke, IBAN DE10120300001002497643, BIC BYLADEM1001, Deutsche Kreditbank. Gebt als Verwendungszweck "Shareship Spende" an, damit wir das korrekt verbuchen.

%h4 Der Gründer
%p
  Martin Puttke ist studierter Mathematiker. Nachdem Studium habe ich mein Geld als Teilzeit-Software-Entwickler für ein Elektrotechnik-Ingenieurbüro verdient. Den Rest meiner Zeit habe ich mit verschiedenen zirkusnahen Bewegungskünsten und als Feuerjongleur verbracht.

