// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article {
  @extend .shareshore-panel;
}

.article-edit div form {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px dotted #ddd;
}

#article-new div form {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px dotted #ddd;
}

.article-description {
  font-style: italic;
  font-size: smaller;
}

.article-lent {
    font-weight: bold;
}
