.caret-right {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-left: 4px solid;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
}

.caret-left {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-right: 4px solid;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
}

.caret-up {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-bottom: 4px solid;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.caret-down {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 4px solid;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}