// Place all the styles related to the houses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.house {
    margin-bottom: 1rem;
    margin-top: 1rem;
    border: 1px dotted #ddd;
    padding: 0.6rem;
}