html 
  position: relative
  min-height: 100%

body 
  // Margin bottom by footer height
  //margin-bottom: 60px;

.footer 
  position: absolute
  bottom: 0
  width: 100%
  background-color: #f5f5f5
  padding: 20px 0
  // height is cut at the bottom, so must be big enough (background color)
  height: 220 

.all_but_map.map_visible
  margin-bottom: 40vh
  
@media (max-width: 767px)
  .main-content
    padding-bottom: 300px
  .main-content.map_visible
    padding-bottom: 0
    
@media (min-width: 768px)
  .main-content
    padding-bottom: 180px
  .main-content.map_visible
    padding-bottom: 0


