%p Standorte zeigen an, wo deine Sachen für andere Nutzer verfügbar sind. Jeder Sache wird ein Standort zugewiesen.

%p Wenn du einen neuen Standort hinzugefügt hast, überprüfe den Standort auf der Karte, indem du auf den Standort Marker <span class="glyphicon glyphicon-map-marker"></span>klickst.

%p Wenn du einen Standort löschst, werden auch alle dortigen Sachen gelöscht! Wenn du das nicht willst, solltest du vorher jeder Sache einen anderen Standort zuweisen.

%p Wenn du deinen Sachen einen anderen Standort zuweisen willst, kannst du das unter #{link_to t('titles.articles.index_owner'), user_articles_path} machen.
