- item_div_id = "location_" + location.id.to_s + "_div"
.location{id: item_div_id}
  .location_view
    = render 'locations/location_view', location: location, edit: true
  .row.location_edit.to_hide
    .col-xs-12
      = render 'locations/form', location: location
