<% location_div_id = "location_" + location.id.to_s + "_div" %>
<div class="location" id="<%= location_div_id %>">
  <div class="location_view">
    <%= render 'location_view', location: location %>
  </div>

  <div class="row location_edit">
    <div class="col-xs-12">
      <%= render 'form', location: location %>
    </div>
  </div>
</div>
