- newtext = escape_javascript(render 'location_owner', location: @location)
- formtext = escape_javascript(render 'form', location: Location.new)

:plain
  //redirect to show
  window.location = "#{url_for @location}"
  //onLocationsCreateSuccess("#{newtext}", "#{formtext}", "#{@location_div_id}")
