// replace the form content (so no need to reset the form, right?)
- formtext = escape_javascript(render 'form', location: @location)

:plain
  console.log("create error")
  onLocationsCreateError("#{formtext}")

