<div class="col-xs-12 col-sm-3 col-sm-push-9">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Tipp</h4>
    </div>

    <div class="panel-body">
      Dies ist ein kurzer Hilfetext.
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-9 col-sm-pull-3">
  <h3><%= t('Locations') %></h3>

  <% @locations.each do |location| %>
    <%= render 'location_owner', location: location %>
  <% end %>

  <div class="location_placeholder"></div>

  <div class="location">
    <div class="row">
      <div class="col-xs-12 text-right">
        <%= link_to("", "", class: "glyphicon glyphicon-plus", id: "location_new_button" ) %>
      </div>
    </div>
    <div class="row" id="location_new">
      <div class="col-xs-12 text-right">
        <%= render 'form', location: Location.new %>
      </div>
    </div>
  </div>
</div>

<script> 
 $(document).ready(function(){
   $(".location_edit").hide();

   $("body").on("click", ".location_edit_button", function(e) {
     e.preventDefault();
     var thedivid = "#location_" + $(this).attr("data-location-id") + "_div .location_edit";
     console.log(thedivid);
     $(thedivid).toggle(200);
   });

   $("#location_new").hide();
   
   $("body").on("click", "#location_new_button", function(e) {
     e.preventDefault();
     var thedivid = "#location_new";
     console.log(thedivid);
     $(thedivid).toggle(200);
   });

 });
</script>
