- @title = t('titles.locations.new')

.col-xs-12.col-sm-3.col-sm-push-9
  = tipp_panel do
    = render 'new_help'
    
.col-xs-12.col-sm-9.col-sm-pull-3
  %h3= @title
  .location
    .row
      .col-xs-12
        = render 'form', location: @location

