- newtext = escape_javascript(render('location_owner', location: @location))

:plain
  //redirect to show
  window.location = "#{url_for @location}"
  //onLocationsUpdateSuccess("#{@location_div_id}","#{newtext}", location.latitude, location.longitude)
