#modal-error.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4= t('.heading_error')
      .modal-body
        = t('.text_unexpected_error_occured')
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
