#modal-error.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4 Error
      .modal-body
        An Unexpected error occured.
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
