%p
  Hallo #{@resource.email}!
%p Wir wurden gebeten Dein Passwort zurückzusetzen. Du kannst jetzt ein neuen Passwort vergeben, wenn du diesen Link klickst.
%p= link_to 'Passwort ändert', edit_password_url(@resource, reset_password_token: @token)
%p Falls du uns nicht darum gebeten hast, ignoriere einfach diese Email. Dein bisheriges Passwort wird in diesem Fall nicht verändert.
