:plain
  Hallo #{@resource.nickname}!

  Wir wurden gebeten Dein Passwort zurückzusetzen. Du kannst jetzt ein neuen Passwort vergeben, indem du diesen Link in deinem Webbrowser aufrufst.

  #{edit_password_url(@resource, reset_password_token: @token)}

  Falls du uns nicht darum gebeten hast, ignoriere einfach diese Email. Dein bisheriges Passwort wird in diesem Fall nicht verändert.

  #{render 'user_mailer/signature'}
