-# locales
- article ||= nil
- current_user ||= nil

%h4= t('.heading_contact_info', nickname: user.nickname)

- anycontact = false
.row
  - unless user.email.blank? || !(user.showemail)
    .col-xs-12
      = mail_to user.email, user.email, subject: mail_subject_user_message(article, current_user)
      - anycontact = true
  - unless user.contact.blank?
    .col-xs-12
      = user.contact
      - anycontact = true
  - unless anycontact
    .col-xs-12
      = t('.no_contact_info')
