%p Standardmäßig wird nur dein Nickname anderen Leuten angezeigt. Deinen Vor- und Nachname behalten wir für uns.

%p Deine Standorte und Deine Sachen sind immer öffentlich.
  
%p Ob deine Email oder deine Telefonnummer angezeigt werden, kannst du über die Häkchenboxen kontrollieren.

%p Bedenke, dass Leute, die deine Sachen leihen möchten, eine zuverlässige Methode brauchen, um mit dir zu kommunizieren.

%p Wenn du hier Deine Angaben ändern möchtest, musst du immer Dein aktuelles Passwort eingeben.
