%p Hier erfährst du, wie du <em>#{@user.nickname}</em> kontaktieren kannst.

%p Wenn du das Formular zum Kontaktieren benutzt, kann <em>#{@user.nickname}</em> dir über Shareship oder über die in deinem Profil angegebene Kontaktmöglichkeiten eine Antwort zukommen lassen.

%p Denke daran deine Emailadresse oder Telefonnummer in Deiner Nachricht anzugeben, wenn du willst dass <em>#{@user.nickname}</em> dir auf diesem Weg antwortet.
