- @title = "Users"

%h3= @title

- @users.each do |user|
  .row
    .col-xs-6
      = user_marker(user)
    .col-xs-6
      = articles_count(user.articles)

= will_paginate @users, renderer: BootstrapPagination::Rails

